/* GOOGLE FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

/* VARIABLES AND GENERAL RULES */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --outfit: "Outfit", sans-serif;
  --young-serif: "Young Serif", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 100%;
  font-size: 16px;
}

/* PAGE SPECIFIC RULES */
body {
  background-color: var(--stone-100);
}

.recipe-page {
  padding: 8rem;
}

.recipe-page__image img {
  width: 100%;
  margin-bottom: 2.5em;
  border-radius: 24px;
}

.recipe-page__main {
  margin: 0 auto;
  padding: 2.5em;
  background-color: var(--white);
  border-radius: 24px;
  max-width: 736px;
  min-height: 1700px;
}

.recipe-page__header {
  font-family: var(--young-serif);
  font-size: 2.5rem;
  margin: 1rem 0;
  color: var(--stone-900);
  font-weight: 100;
}

.recipe-page__intro {
  color: var(--stone-600);
  line-height: 150%;
  font-family: var(--outfit);
  margin-bottom: 2em;
}

.recipe-page__prep {
  margin-left: 1.25rem;
  font-family: var(--outfit);
  margin-bottom: 3.5em;
}

.recipe-page__prep-title {
  color: var(--rose-800);
  font-size: 1.25em;
  font-family: var(--outfit);
}

.recipe-page__prep-steps li {
  margin: 15px;
}

.recipe-page__prep-steps li b {
  margin-left: 1em;
}

.recipe-page__ingredients {
  margin-bottom: 4em;
}

.recipe-page__ingredients-title {
  color: var(--brown-800);
  font-size: 28px;
  font-family: var(--young-serif);
  margin-bottom: 1.25em;
  font-weight: 100;
}

.recipe-page__ingredients-list li {
  margin-left: 25px;
  padding: 10px;
  font-family: var(--outfit);
  line-height: 150%;
  color: var(--stone-600);
}

.recipe-page__ingredients-list li::before {
  margin-left: 1em;
}

.recipe-page__instructions {
  margin-bottom: 4em;
}

.recipe-page__instructions-title {
  color: var(--brown-800);
  font-size: 28px;
  font-family: var(--young-serif);
  font-weight: 100;
}

.recipe-page__instructions-list li {
  margin: 15px;
  color: var(--stone-600);
  font-family: var(--outfit);
}

.recipe-page__nutrition-title {
  color: var(--brown-800);
  font-size: 28px;
  font-family: var(--young-serif);
  font-weight: 100;
}

.recipe-page__nutrition-info {
  margin: 15px 0;
  font-family: var(--outfit);
}

.recipe-page__nutrition-table {
  width: 100%;
  font-family: var(--outfit);
}

.recipe-page__nutrition-table tr td {
  padding: 15px;
}

.recipe-page__nutrition-value {
  font-weight: bold;
  color: var(--brown-800);
}
